<div class="app">

  <div class="app__header">
    <img src="/assets/img/logo.svg" alt="logo" class="app__logo">
  </div>

  <div class="app__content">
    <div class="app__nav">
      <a routerLink="products" routerLinkActive="active">Products</a>
    </div>

    <!-- <pre>
      {{loaderService.isLoading | async}}
    </pre> -->

    <div class="app__container" style="min-height: 650px;">
      <div *ngIf="!(loaderService.isLoading | async)">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="loaderService.isLoading | async">
        <app-spinner></app-spinner>
      </div>
    </div>



    <div class="app__footer">
      <p>&copy; Pizza Inc.</p>
    </div>
  </div>

</div>