<div class="app">

  <div class="app__header">
    <img src="/assets/img/logo.svg" alt="logo" class="app__logo">
  </div>

  <div class="app__content">


    <div class="app__nav">
      <a *ngIf="showBackBtn" id="app__nav__goBack" routerLink="products" routerLinkActive="active">
        <img src="/assets/icons/back-icon-30.png" alt="Back"> BACK
      </a>
      <a routerLink="products" routerLinkActive="active">Pizzas</a>
    </div>

    <!-- <pre>
      {{loaderService.isLoading | async}}
    </pre> -->

    <div class="app__container">
      <div *ngIf="!(loaderService.isLoading | async)">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="loaderService.isLoading | async">
        <app-spinner></app-spinner>
      </div>
    </div>



    <div class="app__footer">
      <p>&copy; Pizza Inc.</p>
    </div>
  </div>

</div>